<div class="container">
  <div class="row mt-3">
    <div class="col-sm-12 text-center">
      <h2>Search Employees</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 ">
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge"
            name="minAge">
        </div>

        <div class="form-group px-2">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge"
            name="maxAge">
        </div>

        <div class="form-group px-2">
          <label for="egender">Show: </label>
          <select class="form-control ml-1" style="width: 130px" id="egender" [(ngModel)]="userParams.egender"
            name="egender">
            <option value="" selected>Gender</option>
            <option *ngFor="let egender of genderList" [value]="egender.value">
              {{egender.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">
          Reset Filter
        </button>
        <div class="col-sm-12">
          <div class="btn-group float-right">
            <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUsers()"
              btnRadio="lastActive">Last Active</button>
            <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUsers()"
              btnRadio="created">Newest Members</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div *ngFor="let employee of employees" class="col-lg-2 col-md-3 col-sm-6">
      <app-employee-card [employee]="employee"></app-employee-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
          
            </pagination>
          </div>
    </div>
  </div>
</div>

